<div class="about-container">
  <div data-aos="fade-up">
    <h1><strong>LI</strong> Varadize ZEYI</h1>
    <p class="university">Hong Kong Baptist University</p>
    <p>
      Hi! I am a student now majoring in communication at HKBU.<br>
      Meanwhile, I am also interested in global issues...
    </p>
  </div>

  <div data-aos="fade-left">
    <img src="/assets/img/profile.jpg" alt="Profile photo of Varadize Zeyi Li" class="profile-pic" />
    <address class="contact-info">
      <div>13324004000</div>
      <div><a href="mailto:macleos07@gmail.com">macleos07@gmail.com</a></div>
      <div>Liaoning, China</div>
    </address>
  </div>
</div>
