<div class="about-container">
  <div data-aos="fade-up">
    <h1><strong>LI</strong> Varadize ZEYI</h1>
    <p class="university">Hong Kong Baptist University</p>
    <p>
      Hi！！ I am a student now majoring in communication at HKBU.
      Meanwhile, I am also interested in global issues...
    </p>
  </div>

  <div data-aos="fade-left">
    <img src="/assets/img/profile.jpg" alt="Profile" class="profile-pic" />
    <div class="contact-info">
      <p>13324004000<br>macleos07@gmail.com<br>Liaoning China</p>
    </div>
  </div>
</div>
